body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: Roboto, Tahoma, sans-serif;
}

.intro-section {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 50px;
    
}

.title-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mid {
    margin-top: 10px;
    display: flex;
}

.mid-text {
    display: inline-block;
    flex-basis: 350px;

}

.mid-text h1, p, button {
    gap: 4px;
}

.mid-text button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
}

.mid-img {
    flex: 1;
    display: flex;
    justify-content: center;
    justify-content: flex-end;

    width: 100px;
    height: 100px;
}


.title-header ul{
    list-style: none;
    padding: 0px;
    display: flex;
    gap: 30px;
    text-decoration: none;
}

.title-header a{
    text-decoration: none;
    color: white;
}

.random-info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random-images {
    display: flex;
    gap: 20px;
    flex-shrink: 1;
    min-width: 150px;
} 

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 100px;
}


.card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 2px solid #3882F6;
    border-radius: 5px;
}

.card p {
    text-align: center;
    display: inline-block;
}


.quote-section {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}


.quote {
    flex: 0 0 600px;
    font-size: 27px;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 36px;
    flex-shrink: 1;
    min-width: 320px;
}

#author, #author-quote {
    margin: 0px;
    
}

#author-quote {
    font-style: italic;
}

#author {
    align-self: flex-end;
    font-size: 20px;
}

.call-to-action-section {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

#call-to-action-container {
    background-color: #3882F6;
    margin: 60px;
    flex-basis: 750px; 
    border-radius: 8px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    min-width: 400px; 
    
}

.action-text .call-to-action {
    font-weight: bold;
    margin: 0px;
    font-size: 14px;
}

.action-text .sign-up {
    margin: 0px;
    font-size: 10px;
}

#call-to-action-container button {
    border: 2px solid white;
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.footer-section {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.light-contrasting-text {
    color: white;
}