body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: Roboto, Tahoma, sans-serif;
}

.intro-section {
    border: 2px solid red;
    background-color: #1F2937;
}

.random-info-section {
    border: 2px solid red;
}


.quote-section {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}


.quote {
    flex: 0 0 600px;
    font-size: 27px;
    margin: 24px;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 36px;
}

#author, #author-quote {
    margin: 0px;
    
}

#author-quote {
    font-style: italic;
}

#author {
    align-self: flex-end;
    font-size: 20px;
}

.call-to-action-section {
    display: flex;
    justify-content: center;
}

#call-to-action-container {
    background-color: #3882F6;
    margin: 60px;
    flex-basis: 750px;
    border-radius: 8px; 
    display: flex;
    justify-content: space-around;
    padding: 20px;
    
}

.action-text .call-to-action {
    font-weight: bold;
    margin: 0px;
    font-size: 14px;
}

.action-text .sign-up {
    margin: 0px;
    font-size: 10px;
}

#call-to-action-container button {
    border: 2px solid white;
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.footer-section {
    border: 2px solid red;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.light-contrasting-text {
    color: white;
}